*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 200;
}
header nav{
    display: flex;
    flex-direction: column;
    width: 650px;
}
header nav a{
    text-transform: uppercase;
    font-weight: 600;
}
header .right{
    display: flex;
    justify-content: space-between;
    width: 160px;
}
#menubtn,#closebtn{
    border: none;
    background: none;
    font-size: 30px;
    /*position: absolute;*/
    cursor: pointer;
}
#closebtn{
    opacity: 0;
}
header .med{
    display: none;
    flex-direction: column;
    cursor: pointer;
}
/*----------------------------------------------------------*/
.sliderbule{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 700px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.596);
}
.slider{
    width: 100%;
    height: 700px;
    display: flex;
    overflow: hidden;
}
.slider img{
    width: 100%;
    height: 697px;
}
#next,#prev{
    position: absolute;
    top: 50%;
    zoom: 3;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 50%;
    padding: 5px;
    transition: all 0.5s;
    border: none;
}
#next:hover,#prev:hover{
    background-color: white;
}
#next{
    right: 10px;
}
#prev{
    left: 10px;
}
.details{
    position: absolute;
    left: 30%;
    top: 35%;
    width: 450px;
    padding: 10px;
}
.details button{
    margin: 0 140px;
    width: 150px;
    color: rgba(255, 255, 255, 0.651);
}
.details p{
    text-align: center;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.651);
}
.details h1{
    color: rgb(82, 48, 48);
}
/*-------------------------------------------------------------------------*/
.section1,.section2{
    padding: 30px;
}
.section1 h2,.section1 p,.section2 h2{
    text-align: center;
}
.section1 .list_items{
    margin-top: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
}
.section1 .list_items .item1{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 650px;
    background-size: 850px 650px;
    background-image: url(img/col-1-1_ec2db072-812d-465d-8ff5-92d926be6141.webp);
}
.section1 .list_items .item2{
    height: 650px;
    background-size: 600px 650px;
    background-image: url(img/col-3-1.webp);
}
.section1 .list_items .item3{
    height: 450px;
    background-size: 450px 450px;
    background-image: url(img/bed_420x.jpg);
}
.section1 .list_items .item4{
    height: 450px;
    background-size: 450px 450px;
    background-image: url(img/col-5_420x.webp);
}
.section1 .list_items .item5{
    height: 450px;
    background-size: 450px 450px;
    background-image: url(img/col-6_420x.webp);
}
.section1 .list_items .item6{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 450px;
    background-size: 850px 450px;
    background-image: url(img/8_b16e9b08-3110-4cf0-8399-fab2118a70b0_770x.webp);
}
.section1 .list_items .item7{
    height: 450px;
    background-size: 450px 450px;
    background-image: url(img/col-82_420x.webp);
}
.section1 .list_items .item1,.section1 .list_items .item2,.section1 .list_items .item3,.section1 .list_items .item4,.section1 .list_items .item5,.section1 .list_items .item6,.section1 .list_items .item7{
    cursor: pointer;
    transition: transform 0.5s ease-out;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.section1 .list_items .item1:hover,.section1 .list_items .item2:hover,.section1 .list_items .item3:hover,.section1 .list_items .item4:hover,.section1 .list_items .item5:hover,.section1 .list_items .item6:hover,.section1 .list_items .item7:hover{
    transform: scale(1.1);
}
.section1 .list_items .item1 button,.section1 .list_items .item6 button{
    position:absolute;
    bottom:30px;
    margin: 0 300px;
    width: 140px;
}
.section1 .list_items button{
    position:absolute;
    bottom:30px;
    margin: 0 115px;
    width: 140px;
}
/*--------------------------------------------------------------*/
.section2 .list_items{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-top: 50px;
}
.section2 .list_items .item{
    width: 254px;
    cursor: pointer;
    position: relative;
}
.section2 .list_items .item .buttons{
    position: absolute;
    bottom:120px;
    display: flex;
    margin: 10px 62px;
    opacity: 0;
}
.section2 .list_items .item img{
    width: 250px;
    height: 250px;
}
.section2 .list_items .item > p{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.521);
    text-align: center;
    margin-top: 10px;
}
.section2 .list_items .item .price{
    display: flex;
    justify-content: space-between;
    width: 110px;
    margin: 0 70px;
}
.section2 .list_items .item .price p{
    color: rgba(255, 0, 0, 0.575);
}
.section2 .list_items .item .price del{
    color: rgba(0, 0, 0, 0.521);
}
.section2 .list_items .item .images{
    width: 150px;
    margin: 0 50px;
}
.section2 .list_items .item .images img{
    width: 30px;
    height: 30px;
    border-radius: 50px;
}
/*-----------------------------------------------------*/
.section3{
    display: flex;
    padding: 100px 0;
}
.section3 .detailssection3{
    padding: 80px;
    background-color: rgb(211, 186, 186);
}
.section3 .detailssection3 h2{
    text-align: center;
}
.section3 .detailssection3 p{
    margin-top: 20px;
}
/*-----------------------------------------------------*/
.section4{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
    padding: 10px;
}
.section4 .item h2{
    font-size: 20px;
    text-align: center;
}
.section4 .item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.section4 .item p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.644);
    padding: 0 25px;
    text-align: center;
}
/*----------------------------------------------------*/
footer{
    background-color: rgb(211, 186, 186);
    padding: 50px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
footer .top{
    display: grid;
    grid-template-columns: 250px auto 200px auto;
    gap: 30px;
}
footer .top img{
    margin-bottom: 40px;
}
footer .top p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.719);
}
footer .top h2{
    font-size: 15px;
    font-weight: bolder;
    color: rgb(82, 48, 48);
    margin-bottom: 30px;
}
footer .top input{
    width: 400px;
    height: 40px;
    border: none;
    padding: 10px;
}
footer .top a{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.726);
}
footer .top a:hover{
    text-decoration: underline;
}
footer .bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}
footer .bottom .cart{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
}
footer .bottom .cart img{
    width: 50px;
    height: 30px;
}
/*------------------------------------------------------------*/
@media screen and (max-width:425px) {
    header nav{
        width: max-content;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }
    header .right{
        margin-left: auto;
        margin-right: auto;
    }
    header nav a{
        margin-bottom: 10px;
    }
    .details{
        width: 200px;
        top: 55%;
        zoom: 70%;
    }
    .details button{
        margin: 0 10px;
    }
    #next,#prev{
        top:60%;
    }
    .section1,.section2,.section3,.section4,footer,header,.slider{
        width: 320px;
    }
    .section1 .list_items .item button{
        margin: 0 15px;
    }
    .section1 .list_items .item2 button,.section1 .list_items .item3 button
    ,.section1 .list_items .item4 button,.section1 .list_items .item5 button
    ,.section1 .list_items .item7 button{
        padding: 5px;
        width: 80px;
        zoom: 60%;
    }
    .section2 .list_items{
        display: grid;
        grid-template-columns: auto;
        padding-left: 20px;
    }
    .section2 .list_items .item img{
        width: 220px;
        height: 220px;
    }
    .section3 img{
        width: 100px;
    }
    .section3 .detailssection3{
        padding: 10px;
    }
    footer .top{
        grid-template-columns: auto;
    }
    footer .top input{
        width: 230px;
    }
    footer .bottom{
        zoom: 50%;
    }
    .section4{
        grid-template-columns: auto auto;
    }
}